<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between">
    <div>
      <h1>Chi tiết kệ hàng</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/dashboard/medicine-category">Kệ hàng</a>
          </li>
          <li class="breadcrumb-item active">Chi tiết kệ hàng</li>
        </ol>
      </nav>
    </div>
  </div>
  <b *ngIf="shelfs.length <= 0" style="font-size: 20px">Kệ hàng này chưa có thuốc</b>
  <div *ngIf="shelfs.length > 0">
    <b style="font-size: 20px">Các thuốc có trong kệ hàng</b>
  <br>
  <br>
  <div class="col-12">
    <nz-table #basicTable [nzData]="shelfs" style="text-align: center; font-size: 18px;">
      <thead>
        <tr>
          <th scope="col" style="text-align: center;">#</th>
          <th scope="col" style="text-align: center;">Tên thuốc</th>
          <th scope="col" style="text-align: center;"></th>
        </tr>
      </thead>
      <tbody *ngFor="let shelfs of basicTable.data" style="text-align: center;">
        <tr>
          <td scope="row"></td>
          <td>{{shelfs.name}}</td>
          <td><button
            (click)="detail(shelfs.id)"
            style="
              background-color: rgba(0, 162, 255, 0.836);
                    color: white;
                    font-size: 17px;
                    border-radius: 17px;
                    border-color: rgba(0, 162, 255, 0.836); ">
            Xem chi tiết thuốc
          </button></td>
      </tbody>
    </nz-table>
  </div>
  </div>

</main>
