<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between">
    <div>
      <h1>Chi tiết kệ hàng {{name}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/dashboard/medicine-category">Kệ hàng</a>
          </li>
          <li class="breadcrumb-item active">Chi tiết kệ hàng {{name}}</li>
        </ol>
      </nav>
    </div>
  </div>
  <b *ngIf="shelfs.length <= 0" style="font-size: 20px">Kệ hàng này chưa có sản phẩm</b>
  <div *ngIf="shelfs.length > 0">
    <b style="font-size: 20px">Các sản phẩm có trong kệ hàng {{name}}</b>
  <br>
  <br>
  <div class="col-12">
    <nz-table #basicTable [nzData]="shelfs" style="text-align: center; font-size: 18px;">
      <thead>
        <tr>
          <th scope="col" style="text-align: center;">Mã đăng kí</th>
          <th scope="col" style="text-align: center;">Tên sản phẩm</th>
          <th scope="col" style="text-align: center;">Nhà cung cấp</th>
          <th scope="col" style="text-align: center;"></th>
        </tr>
      </thead>
      <tbody *ngFor="let shelfs of basicTable.data" style="text-align: center;">
        <tr>
          <td scope="row">{{shelfs.drugRegistrationNumber}}</td>
          <td>{{shelfs.name}}</td>
          <td>{{shelfs.brand.name}}</td>
          <td>
            <u (click)="detail(shelfs.id)" style="color: rgb(55, 158, 248)">Xem chi tiết sản phẩm</u>
        </td>

      </tbody>
    </nz-table>
  </div>
  </div>

</main>
