<main id="main" class="main">
   <div class="pagetitle d-flex justify-content-between">
      <div>
         <h1>Tạo nhân viên</h1>
         <nav>
            <ol class="breadcrumb">
               <li class="breadcrumb-item"><a routerLink="/dashboard">Trang chủ</a></li>
               <li class="breadcrumb-item"><a routerLink="/dashboard/staff">Nhân viên</a></li>
               <li class="breadcrumb-item active">Tạo nhân viên</li>
            </ol>
         </nav>
      </div>
   </div>
   <section class="section">
      <div class="card container">
         <div class="card-body">
            <h5 class="card-title"></h5>
            <form class="row g-3" (ngSubmit)="onSubmit()" [formGroup]="StaffData">
               <div class="col-md-12">
                  <label for="inputName5" class="form-label">Tài khoản</label>
                  <input type="text" class="form-control" id="inputName" formControlName="loginName">
                  <div
                     *ngIf="statusError.loginName.invalid && (statusError.loginName.dirty || statusError.loginName.touched) ">
                     <div *ngIf="statusError.loginName.errors">
                        <div *ngIf="statusError.loginName.errors!['required']">
                           <small style="color: red;">Vui lòng nhập tài khoản</small>
                        </div>
                        <div *ngIf="statusError.loginName.errors!['pattern']">
                           <small style="color: red;">Tài khoản không đúng định dạng (8-20 kí tự và không chứa kí tự đặt biệt)</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <label for="inputPassword" class="form-label">Mật khẩu</label>
                  <input type="password" class="form-control" id="inputPassword" formControlName="password" placeholder="******">
                  <div
                     *ngIf="statusError.password.invalid && (statusError.password.dirty || statusError.password.touched) ">
                     <div *ngIf="statusError.password.errors">
                        <div *ngIf="statusError.password.errors!['required']">
                           <small style="color: red;">Vui lòng nhập mật khẩu</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-6">
                  <label for="inputComfirmPassword" class="form-label">Nhập lại mật khẩu</label>
                  <input type="password" class="form-control" id="inputComfirmPassword"
                     formControlName="passwordConfirm" placeholder="******">
                     <div
                     *ngIf="statusError.passwordConfirm.invalid && (statusError.passwordConfirm.dirty || statusError.passwordConfirm.touched) ">
                     <div *ngIf="statusError.passwordConfirm.errors">
                        <div *ngIf="statusError.passwordConfirm.errors!['required']">
                           <small style="color: red;">Vui lòng nhập mật khẩu</small>
                        </div>
                        <div *ngIf="statusError.passwordConfirm.errors!['mustMatch']">
                           <small style="color: red;">Mật khẩu không trùng khớp. Vui lòng nhập lại!</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-12">
                  <label for="inputFullname" class="form-label">Họ và tên</label>
                  <input type="text" class="form-control" id="inputFullname" placeholder="Nguyễn Văn A"
                     formControlName="fullname">
                     <div
                     *ngIf="statusError.fullname.invalid && (statusError.fullname.dirty || statusError.fullname.touched) ">
                     <div *ngIf="statusError.fullname.errors">
                        <div *ngIf="statusError.fullname.errors!['required']">
                           <small style="color: red;">Vui lòng nhập tên nhân viên</small>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-md-4">
                  <label for="inputPhonenumber" class="form-label">Số điện thoại</label>
                  <input type="text" class="form-control" id="inputPhonenumber" placeholder="0912345678"
                     formControlName="phoneNumber">
               </div>
               <div class="col-md-4">
                  <label for="inputDate" class="form-label">Ngày sinh</label>
                  <input type="date" class="form-control" formControlName="dob">
               </div>
               <div class="col-md-4">
                  <label class="form-label">Giới tính</label>
                  <select class="form-control" formControlName="isMale">
                     <option value="true" selected>Nam</option>
                     <option value="false">Nữ</option>
                  </select>
               </div>
               <div class="col-6">
                  <label for="inputAvatar">Ảnh đại diện</label>
                  <input type="file" (change)="uploadImage($event)" class="form-control">
               </div>
               <div class="col-6">
                  <div style="width: 100px; height: 134px; border: 1px solid;">
                     <img [src]="imageURL" alt="avatar" width="100" height="134">
                     <input type="hidden" formControlName="avatar" [value]="imageURL">
                  </div>
               </div>
               <div class="d-flex justify-content-end">
                  <div class="col-3 mt-4">
                     <button class="w-100" nz-button nzType="primary" nzSize="large">Tạo nhân viên</button>
                  </div>
               </div>
            </form>
         </div>
      </div>

   </section>
</main>
