<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between">
    <div>
      <h1>Danh sách thuốc cùng hoạt chất {{name}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/dashboard/medicine-activeSubstance">Hoạt chất</a>
          </li>
          <li class="breadcrumb-item active">Danh sách sản phẩm cùng hoạt chất {{name}}</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="col-12">
    <nz-table #basicTable [nzData]="productHaveActiveSubstance" style="text-align: center; font-size: 18px;">
      <thead>
        <tr>
          <th scope="col" style="text-align: center;">Mã đăng kí</th>
          <th scope="col" style="text-align: center;">Tên sản phẩm</th>
          <th scope="col" style="text-align: center;">Nhà cung cấp</th>
          <th scope="col" style="text-align: center;"></th>
        </tr>
      </thead>
      <tbody *ngFor="let products of basicTable.data" style="text-align: center;">
        <tr>
          <td scope="row">{{products.drugRegistrationNumber}}</td>
          <td >{{products.name}}</td>
          <td>{{products.brand.name}}</td>
          <td>
            <u (click)="detail(products.id)" style="color: rgb(55, 158, 248)">Xem chi tiết sản phẩm</u>
        </td>
      </tbody>
    </nz-table>
  </div>
</main>
