<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between">
    <div>
      <h1>Danh sách thuốc cùng hoạt chất</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/dashboard/medicine-activeSubstance">Hoạt chất</a>
          </li>
          <li class="breadcrumb-item active">Danh sách thuốc cùng hoạt chất</li>
        </ol>
      </nav>
    </div>
  </div>

  <div class="col-12">
    <nz-table #basicTable [nzData]="productHaveActiveSubstance" style="text-align: center; font-size: 18px;">
      <thead>
        <tr>
          <th scope="col" style="text-align: center;">#</th>
          <th scope="col" style="text-align: center;">Tên thuốc</th>
          <th scope="col" style="text-align: center;"></th>
        </tr>
      </thead>
      <tbody *ngFor="let products of basicTable.data" style="text-align: center;">
        <tr>
          <td scope="row"></td>
          <td>{{products.name}}</td>
          <td><button
            (click)="detail(products.id)"
            style="
              background-color: rgba(0, 162, 255, 0.836);
                    color: white;
                    font-size: 17px;
                    border-radius: 17px;
                    border-color: rgba(0, 162, 255, 0.836); ">
            Xem chi tiết thuốc
          </button></td>
      </tbody>
    </nz-table>
  </div>
</main>
