<!-- <main id="main" class="main"> -->
  <!-- <div class="pagetitle d-flex justify-content-between">
    <div>
      <h1>Create a Manager</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="/dashboard">dashboard</a></li>
          <li class="breadcrumb-item"><a routerLink="/dashboard/manager">Manager</a></li>
          <li class="breadcrumb-item active">Create manager</li>
        </ol>
      </nav>
    </div>
  </div> -->
  <section>
    <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
      <div>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email">E-mail</nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="xin mời nhập E-mail!">
            <input nz-input formControlName="email" id="email" />
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="nickname" nzRequired>
            <span>Họ và Tên</span>
          </nz-form-label>
          <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="xin mời nhập họ và tên!">
            <input nz-input id="nickname" formControlName="nickname" />
          </nz-form-control>
        </nz-form-item>

        <!-- <nz-form-item nz-row class="register-area text-center">
          <nz-form-control [nzSpan]="14" [nzOffset]="6">
            <button nz-button nzType="primary">Tạo quản lý</button>
          </nz-form-control>
        </nz-form-item> -->
      </div>
    </form>
  </section>
<!-- </main> -->