<main id="main" class="main">
    <div class="pagetitle d-flex justify-content-between">
        <div>
            <h1>Danh sách khách hàng</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Khách Hàng</li>
                </ol>
            </nav>
        </div>
    </div>
    <form id="search">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="Nhập mã, tên, sđt khách hàng" [(ngModel)]="searchDataCustomer"/>
        </nz-input-group>
        <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch>
                <nz-select [(ngModel)]="selectedProvince" nzSize="large" (ngModelChange)="SearchOptionForCustomer($event)">
                    <nz-option nzValue="searchID" nzLabel="Mã khách hàng"></nz-option>
                    <nz-option nzValue="SearchName" nzLabel="Tên khách hàng"></nz-option>
                    <nz-option nzValue="SearchPhone" nzLabel="Số điện thoại"></nz-option>
                  </nz-select>
            </button>
        </ng-template>
    </form>
    <section class="section">
      <nz-table #basicTable [nzLoading]="loading" [nzData]="listOfData">
          <thead>
              <tr>
                  <th>ID</th>
                  <th>Họ và tên</th>
                  <th>Số điện thoại</th>
                  <th>Ngày tạo</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of listOfData">
                    <td >{{ data.userId}}</td>
                    <td >{{ data.fullname }}</td>
                    <td >{{ data.phoneNumber }}</td>
                    <td >{{ data.createAt }}</td>
                    <td>
                      <a><button type="button" class="btn btn-outline-secondary">Cập nhật</button></a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <span *ngIf="data.isActive == true; else ElseBan ">
                          <button type="button" class="btn btn-outline-success action__button"
                              (click)="clickUnBan(data.userId)">Bỏ chặn</button>
                      </span>
                  </td>
                  <ng-template #ElseBan>
                      <button type="button" class="btn btn-outline-danger action__button"
                          (click)="clickBan(data.userId)">chặn</button>
                  </ng-template>
            </tr>
              <!-- <tr style="cursor: pointer;"
                  *ngFor="let data of listOfData  | pipeSearchFilter:searchDataCustomer:selectedProvince">
                  <td (click)="detail(data.userId)">
                      <img src={{data.avatar}} alt="avatar" width="50">
                  </td>
                  <td (click)="detail(data.userId)">{{ data.userId}}</td>
                  <td (click)="detail(data.userId)">{{ data.fullname || null }}</td>
                  <td (click)="detail(data.userId)">{{ data.phoneNumber }}</td>
                  <td (click)="detail(data.userId)">{{ data.createdAt }}</td>) -->
                  <!-- <td>
                      <a><button type="button" class="btn btn-outline-secondary">Cập nhật</button></a>
                      <nz-divider nzType="vertical"></nz-divider>
                      <span *ngIf="data.isActive == true; else ElseBan ">
                          <button type="button" class="btn btn-outline-success action__button"
                              (click)="clickUnBan(data.userId)">Bỏ chặn</button>
                      </span>
                  </td>
                  <ng-template #ElseBan>
                      <button type="button" class="btn btn-outline-danger action__button"
                          (click)="clickBan(data.userId)">chặn</button>
                  </ng-template> -->
              <!-- </tr> -->
          </tbody>
      </nz-table>
  </section>
</main>
