<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between">
    <div>
      <h1>Chi tiết thuốc {{id}}</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/dashboard/manager">Thuốc</a>
          </li>
          <li class="breadcrumb-item active">Chi tiết thuốc</li>
        </ol>
      </nav>
    </div>
  </div>
  <nz-tabset>
    <nz-tab nzTitle="Thông tin">
      <div class="container">
        <div class="row">
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
          <div class="col-sm">
            One of three columns
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Hoạt chất">Content of Tab Pane 2</nz-tab>

    <nz-tab nzTitle="Lô - Hạng sử dụng"
      >Chưa có lô trong thông tin trả về</nz-tab
    >
  </nz-tabset>
</main>
