<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between">
    <div>
      <h1>Chi tiết thuốc</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Trang chủ</a>
          </li>
          <li class="breadcrumb-item">
            <a routerLink="/dashboard/manager">Thuốc</a>
          </li>
          <li class="breadcrumb-item active">Chi tiết thuốc</li>
        </ol>
      </nav>
    </div>
  </div>
  <nz-tabset>
    <nz-tab nzTitle="Thông tin">
      <div class="container">
        <div class="row" >
          <div class="col-12">Tên thuốc: {{name}}</div>
          <div class="col-12">
            <ngx-barcode bc-value={{barcode}} [bc-display-value]="true" [bc-width]="1"
                            [bc-height]="50"></ngx-barcode>
          </div>
          <div class="col-6">Nhà cung cấp: {{brand}}</div>
          <div class="col-6">Kệ hàng: {{shelf}}</div>
          <div class="col-6">Ngày tạo: {{createdAt | date:"dd-MM-yyyy"}}</div>
          <div class="col-6">Người tạo: {{createdBy}}</div>
          <!-- <div class="col-6">Hạn sử dụng:</div> -->
          <div class="col-6">Đường dùng: {{routeOfAdministration}}</div>
          <div class="col-6">Mức tồn kho tối thiểu: {{mininumInventory}}</div>
          <div class="col-12">
            <nz-form-label [nzSpan]="6">Bán theo liều</nz-form-label>
            <nz-switch
              [ngModel]="isUseDose"
              id="isUseDose"></nz-switch>
          </div>
          <div class="col-8">
            <nz-form-label [nzSpan]="8">Quản lý theo lô, hạn sử dụng</nz-form-label>
            <nz-switch
              [ngModel] = "isManagedInBatches"
              id="isManagedInBatches"></nz-switch>
          </div>
          <div class="col-6">
            <nz-form-label [nzSpan]="6">Trạng thái hoạt động</nz-form-label>
            <nz-switch
            [ngModel] = "isActive"
              id="isActive"
            ></nz-switch>
          </div>
        </div>
      </div>
    </nz-tab>
    <nz-tab nzTitle="Hoạt chất">
      <div *ngIf="activeSubstances.length <= 0">Thuốc chưa có thông tin hoạt chất</div>
      <div *ngIf="activeSubstances.length > 0">
        <nz-collapse nzAccordion style="box-shadow: 1px 1px 1px 1px;"  >
          <nz-collapse-panel
            *ngFor="let panel of activeSubstances"
            [nzHeader]="panel.name"
            [nzActive]="panel.active"
            [nzDisabled]="panel.disabled"
            style="background-color: white;">
            <div class="container">
              <div class="row">
                <div class="col-sm">Ngày tạo</div>
                <div class="col-sm">Trạng thái hoạt động</div>
                <div class="col-sm">
                  <button
                (click)="detail(panel.id)"
                style="
                  background-color: rgba(0, 132, 255, 0.253);
                  color: rgb(0, 4, 8);
                ">
                Xem thuốc có cùng hoạt chất
              </button>
                </div>
              </div>
            </div>
          </nz-collapse-panel>
        </nz-collapse>
      </div>
    </nz-tab>

    <nz-tab nzTitle="Lô - Hạng sử dụng">
      <div *ngFor="let batch of batches"> Mã barcode của lô {{batch.id}} :
        <ngx-barcode bc-value={{batch.batchBarcode}} [bc-display-value]="true" [bc-width]="1"
                              [bc-height]="50"></ngx-barcode>
        <div class="col-3">Ngày tạo lô : {{batch.createdAt | date:'dd-MM-yyyy'}}</div>
        <div class="col-3">Người tạo lô : {{batch.createdBy.name}}</div>
        <div class="col-3">Hạn sử dụng của lô : {{batch.expiryDate | date:'dd-MM-yyyy'}}</div>
        <div class="col-3">Ngày sản xuất : {{batch.manufacturingDate | date:'dd-MM-yyyy'}}</div>
      </div>
      </nz-tab
    >
  </nz-tabset>
</main>
