<main>
   <!-- <h1>{{'demo.text' | translate}}</h1> -->
   <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">
                  <div class="d-flex justify-content-center py-4"> <a routerLink="/"
                        class="logo d-flex align-items-center w-auto"> <img src="assets/img/logo.png" alt=""> <span
                           class="d-none d-lg-block">Nhà Thuốc Út Nhàn</span> </a></div>
                  <div class="card mb-3">
                     <div class="card-body">
                        <div>
                           <img src="./../../../assets/img/logo.jpg" alt="" width="500px">
                        </div>
                        <div class="pt-4 pb-2">
                           <h5 class="card-title text-center pb-0 fs-4">Đăng nhập vào hệ thống</h5>
                        </div>
                        <form class="row g-3 needs-validation" novalidate>
                           <div class="col-12 mb-3">
                              <button class="btn btn-danger w-100" type="submit" (click)="login()"><i
                                    class="bi bi-google"></i> sử dụng tài khoản Google</button>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
   </div>
</main>