<main id="main" class="main">
    <div class="pagetitle d-flex justify-content-between">
        <div>
            <h1>Danh sách thuốc</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Trang chủ</a></li>
                    <li class="breadcrumb-item active">Thuốc</li>
                </ol>
            </nav>
        </div>
        <div>
        </div>
        <div>
            <div>
                <button id="create-button" nz-button nzType="primary" nzSize="large">
                    <a routerLink="/dashboard/create-medicine">
                        <i class="bi bi-plus"></i>
                        <span>Tạo thuốc</span>
                    </a>
                </button>
            </div>
        </div>
    </div>
    <div id="search">
        <nz-input-group nzSearch nzSize="large" [nzAddOnAfter]="suffixButton">
            <input type="text" nz-input placeholder="nhập mã, tên thuốc" [(ngModel)]="searchData"
                (ngModelChange)="getListSearch()" />
        </nz-input-group>
        <ng-template #suffixButton>
            <button nz-button nzType="primary" nzSize="large" nzSearch style="min-width: 150px;">
                <nz-select [(ngModel)]="selectedProvince" nzSize="large" (ngModelChange)="SearchOption($event)">
                    <nz-option nzValue="searchID" nzLabel="Mã thuốc"></nz-option>
                    <nz-option nzValue="searchBarcode" nzLabel="mã barcode"></nz-option>
                    <nz-option nzValue="SearchName" nzLabel="Tên thuốc"></nz-option>

                </nz-select>
            </button>
        </ng-template>
    </div>
    <section class="section">
        <!-- [nzScroll]="{ x: '1150px', y: '600px' }" -->
        <nz-table [nzLoading]="loading" [nzData]="listsearch" #basicTable [nzPageSize]="5"
            [nzPageSizeOptions]="[5,10,15,20,25,30]" nzShowSizeChanger>
            <thead>
                <tr>
                    <th>Mã số đăng kí</th>
                    <th>Mã barcode</th>
                    <th>Tên thuốc</th>
                    <th>Giá bán</th>
                    <th [nzFilters]="nameList"
                    [nzFilterMultiple]="true"
                    [nzFilterFn]="nameFilterFn">Trạng thái hoạt động</th>
                </tr>
            </thead>
            <tbody>
                <tr style="cursor: pointer;" *ngFor="let data of basicTable.data">
                    <td (click)="detail(data.userId)">
                        {{data.drugRegistrationNumber}}
                    </td>
                    <td (click)="detail(data.userId)">
                        <ngx-barcode bc-value={{data.barcode}} [bc-display-value]="true" [bc-width]="width"
                            [bc-height]="height"></ngx-barcode>
                    </td>
                    <td (click)="detail(data.userId)">{{ data.name || null }}</td>
                    <td (click)="detail(data.userId)">{{ data.price }}</td>
                    <td>
                        <div *ngIf="data.isActive == true; else isActive">
                            <nz-tag [nzColor]="'green'">Còn bán</nz-tag>
                        </div>
                        <ng-template #isActive>
                            <div>
                                <nz-tag [nzColor]="'red'">Ngừng bán</nz-tag>
                            </div>
                        </ng-template>
                    </td>

                </tr>
            </tbody>
        </nz-table>
    </section>
</main>
