<main id="main" class="main">
    <div class="pagetitle d-flex justify-content-between">
        <div>
            <h1>Thông tin nhân viên {{id}}</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a routerLink="/dashboard">Trang chủ</a></li>
                    <li class="breadcrumb-item"><a routerLink="/dashboard/staff">Nhân viên</a></li>
                    <li class="breadcrumb-item active">thông tin nhân viên {{id}}</li>
                </ol>
            </nav>
        </div>
    </div>

    <section class="container-fluid">
        <div class="row">
            <div class="col-4 text-right">
                <img src="https://picsum.photos/200/300" alt="" width="100%">
            </div>
            <div class="col-8">
                <nz-tabset>
                    <nz-tab nzTitle="Thông tin cá nhân">
                        <h1>id:{{id}}</h1>
                    </nz-tab>
                    <nz-tab nzTitle="Thông tin bán hàng">Content of Tab Pane 2</nz-tab>
                </nz-tabset>
            </div>
        </div>
    </section>
</main>