<main id="main" class="main">
  <div class="pagetitle d-flex justify-content-between">
    <div>
      <h1>Chi tiết lô hàng</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a routerLink="/dashboard">Trang chủ</a>
          </li>
          <li class="breadcrumb-item active">Chi tiết lô hàng</li>
        </ol>
      </nav>
    </div>
  </div>

  <nz-tabset>
    <nz-tab nzTitle="Phiếu nhập">
      <nz-table #basicTable [nzData]="goodReceiptNote" style="font-size: 18px;">
        <thead style="text-align: center">
          <tr>
            <th scope="col" style="text-align: center;">Dạng nhập</th>
            <th scope="col" style="text-align: center;">Tên nơi cung cấp</th>
            <th scope="col" style="text-align: center;">Người tạo</th>
            <th scope="col" style="text-align: center;">Ngày tạo</th>
            <th scope="col" style="text-align: center;">Số lượng</th>
            <th scope="col" style="text-align: center;">Tổng tiền</th>
          </tr>
        </thead>
        <tbody  *ngFor="let goodReceiptNotes of goodReceiptNote" style="text-align: center;">
          <tr>
            <td scope="row">{{goodReceiptNotes.goodsReceiptNoteType.name}}</td>
            <td >{{goodReceiptNotes.supplier.name}}</td>
            <td >{{goodReceiptNotes.createdBy.name}}</td>
            <td >{{goodReceiptNotes.createdAt|date:'dd-MM-yyyy'}}</td>
            <td >{{goodReceiptNotes.quantity}}</td>
            <td >{{goodReceiptNotes.totalPrice}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>

    <nz-tab nzTitle="Phiếu xuất">
      <nz-table #basicTable [nzData]="goodReceiptNote" style="font-size: 18px;">
        <thead style="text-align: center">
          <tr>
            <th scope="col" style="text-align: center;">Dạng nhập</th>
            <th scope="col" style="text-align: center;">Tên nơi cung cấp</th>
            <th scope="col" style="text-align: center;">Người tạo</th>
            <th scope="col" style="text-align: center;">Ngày tạo</th>
            <th scope="col" style="text-align: center;">Số lượng</th>
            <th scope="col" style="text-align: center;">Tổng tiền</th>
          </tr>
        </thead>
        <tbody  *ngFor="let goodReceiptNotes of goodReceiptNote" style="text-align: center;">
          <tr>
            <td scope="row">{{goodReceiptNotes.goodsReceiptNoteType.name}}</td>
            <td >{{goodReceiptNotes.supplier.name}}</td>
            <td >{{goodReceiptNotes.createdBy.name}}</td>
            <td >{{goodReceiptNotes.createdAt|date:'dd-MM-yyyy'}}</td>
            <td >{{goodReceiptNotes.quantity}}</td>
            <td >{{goodReceiptNotes.totalPrice}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-tab>
  </nz-tabset>


</main>
